<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacaranda.myscrum">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sysadmin.SysAdminActivity"
            android:label="@string/title_activity_sys_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sysadmin.NewProjectActivity"
            android:label="@string/title_activity_new_project"
            android:parentActivityName=".sysadmin.SysAdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.sysadmin.SysAdminActivity" />
        </activity>
        <activity
            android:name=".sysadmin.NewPersonActivity"
            android:label="@string/title_activity_new_person"
            android:parentActivityName=".sysadmin.SysAdminActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.sysadmin.SysAdminActivity" />
        </activity>
        <activity
            android:name=".productowner.ProductOwnerActivity"
            android:label="@string/title_activity_product_owner"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.LoginActivity" />
        </activity>
        <activity
            android:name=".developer.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.LoginActivity" />
        </activity>
        <activity
            android:name=".scrummaster.ScrumMasterActivity"
            android:label="@string/title_activity_scrum_master"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.LoginActivity" />
        </activity>
        <activity
            android:name=".productowner.POProjectActivity"
            android:label="@string/title_activity_poproject"
            android:parentActivityName=".productowner.ProductOwnerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.productowner.ProductOwnerActivity" />
        </activity>
        <activity
            android:name=".productowner.NewStoryActivity"
            android:label="@string/title_activity_new_story"
            android:parentActivityName=".productowner.POProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.productowner.POProjectActivity" />
        </activity>
        <activity
            android:name=".scrummaster.SMProjectActivity"
            android:label="@string/title_activity_smproject"
            android:parentActivityName=".scrummaster.ScrumMasterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scrummaster.ScrumMasterActivity" />
        </activity>
        <activity
            android:name=".scrummaster.NewSprintActivity"
            android:label="@string/title_activity_new_sprint"
            android:parentActivityName=".scrummaster.SMProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scrummaster.SMProjectActivity" />
        </activity>
        <activity
            android:name=".scrummaster.InOutUserStoryActivity"
            android:label="@string/title_activity_in_out_user_story"
            android:parentActivityName=".scrummaster.SMProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jacaranda.myscrum.scrummaster.SMProjectActivity" />
        </activity>
    </application>

</manifest>